.card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 10px;
}

figure {
	margin: 0 0 1rem;
	img {
		width: 100%;
		height: 100%;
	}
}
