@mixin explore {
	.explore {
		color: white;
		padding-bottom: 14px;
		margin-bottom: 80px;

		.now-wrapper {
			position: relative;
			@include btn-white-cirle();
		}

		.wrapper {
			display: block;
			overflow-x: scroll;
			white-space: nowrap;
			margin-bottom: 14px;
			padding-bottom: 10px;
			padding-top: 10px;
			// padding-left: 16px;

			@include scrollStyle();

			.card {
				display: inline-block;
				width: 150px;
				height: 180px;
				margin: 0px 5px 5px 5px;
				background-color: $alt-primary-color;
				border-radius: 5px;
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				border: 1px solid #353535;
				transition: all 500ms ease-in-out 50ms;
				position: relative;

				&:hover {
					cursor: pointer;
					transform: scale(1.2);
					z-index: 1;
				}

				&:hover > div {
					.category-desc {
						margin-bottom: 0px;
					}
				}

				div {
					position: absolute;
					// display: flex;
					flex-direction: column;
					// width: 100%;
					transition: all 800ms ease 0ms;
					overflow: hidden;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

					// p {
					// 	padding-left: 10px;
					// }
					.category-name {
						font-size: 22px;
						white-space: break-spaces;
					}

					.category-desc {
						background-color: #205f51e0;
						display: none;
					}
				}
			}
		}
	}
}
@mixin category-channel {
	// junrel - 10/28/2020
	.category-channel {
		position: relative;
		color: #ffffff;
		width: 90%;
		padding-bottom: 100px;
		// margin-bottom: 100px;;
		margin: auto;
		min-height: 100vh;

		h3 {
			// padding: 20px 3%;
			font-weight: 400;
			font-size: 18px;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					color: #009688;
				}
			}
		}

		.wrapper-channel {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
			gap: 0.79rem;
			grid-row-gap: 1.7rem;
			margin-top: 20px;

			@include for-phone-only {
				grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
			}
			.card {
				cursor: pointer;
				.thumbnail {
					@include for-phone-only {
						height: 9.2rem;
					}
					height: 12.5rem;
					-webkit-transition: opacity 200ms ease-in-out;
					-moz-transition: opacity 200ms ease-in-out;
					-ms-transition: opacity 200ms ease-in-out;
					-o-transition: opacity 200ms ease-in-out;
					transition: opacity 200ms ease-in-out;
					position: relative;
					img {
						height: 100%;
						width: 100%;
					}
					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 1;
						pointer-events: auto;
						content: "";
						background: transparent;
						transition: all 200ms ease;
					}
					&:hover::after {
						filter: alpha(opacity=50);
						opacity: 0.8;
						// background: #25f5f545;
						background: #00ffff30;
					}
				}
				.content {
					padding-top: 0.5rem;
					display: flex;
					flex-direction: column;
					h2 {
						font-size: 0.87422rem;
						font-weight: 500;
						letter-spacing: 0.0278rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: #fff;
					}

					.action {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						gap: 5px;
						button {
							margin-top: 2px;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							border: none;
							background: #949cb038;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							transition: all 200ms ease;
							font-size: 10px;
							svg {
								color: #f1f1f1d6;
								// color: #0ab39f;
								// font-size: 0.52rem;
							}

							&:focus {
								outline: none;
							}

							&:hover {
								background: #eeeeee2b;
							}
						}
					}
				}

				// min-height: 100%;
				// display: grid;
				// grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
				// grid-gap: 50px 15px;
				// padding-top: 20px;

				// .card {
				// 	display: flex;
				// 	flex-direction: column;
				// 	transition: all 800ms ease 0ms;
				// 	// overflow: hidden;
				// 	position: relative;
				// 	cursor: pointer;
				// 	height: 200px;
				// 	align-items: center;
				// 	background: black;
				// 	border-radius: 4px;

				// 	img.lazy {
				// 		height: 100%;
				// 		width: 100%;
				// 		background-image: url("/v1/public/images/482.gif");
				// 		background-repeat: no-repeat;
				// 		background-position: 50% 50%;
				// 	}

				// 	@include card_body($padding-bottom: 30px);

				// // div {
				// // 	opacity: 0;
				// // 	display: flex;
				// // 	align-items: flex-end;
				// // 	transition: opacity 300ms ease;
				// // 	width: 100%;
				// // 	height: 100%;
				// // 	background: -webkit-gradient(
				// // 		linear,
				// // 		left top,
				// // 		left bottom,
				// // 		color-stop(62%, transparent),
				// // 		color-stop(63.94%, rgba(0, 0, 0, 0.00345888)),
				// // 		color-stop(65.89%, rgba(0, 0, 0, 0.014204)),
				// // 		color-stop(67.83%, rgba(0, 0, 0, 0.0326639)),
				// // 		color-stop(69.78%, rgba(0, 0, 0, 0.0589645)),
				// // 		color-stop(71.72%, rgba(0, 0, 0, 0.0927099)),
				// // 		color-stop(73.67%, rgba(0, 0, 0, 0.132754)),
				// // 		color-stop(75.61%, rgba(0, 0, 0, 0.177076)),
				// // 		color-stop(77.56%, rgba(0, 0, 0, 0.222924)),
				// // 		color-stop(79.5%, rgba(0, 0, 0, 0.267246)),
				// // 		color-stop(81.44%, rgba(0, 0, 0, 0.30729)),
				// // 		color-stop(83.39%, rgba(0, 0, 0, 0.341035)),
				// // 		color-stop(85.33%, rgba(0, 0, 0, 0.367336)),
				// // 		color-stop(87.28%, rgba(0, 0, 0, 0.385796)),
				// // 		color-stop(89.22%, rgba(0, 0, 0, 0.396541)),
				// // 		color-stop(91.17%, rgba(0, 0, 0, 0.4))
				// // 	);
				// // 	background: linear-gradient(
				// // 		180deg,
				// // 		transparent 62%,
				// // 		rgba(0, 0, 0, 0.00345888) 63.94%,
				// // 		rgba(0, 0, 0, 0.014204) 65.89%,
				// // 		rgba(0, 0, 0, 0.0326639) 67.83%,
				// // 		rgba(0, 0, 0, 0.0589645) 69.78%,
				// // 		rgba(0, 0, 0, 0.0927099) 71.72%,
				// // 		rgba(0, 0, 0, 0.132754) 73.67%,
				// // 		rgba(0, 0, 0, 0.177076) 75.61%,
				// // 		rgba(0, 0, 0, 0.222924) 77.56%,
				// // 		rgba(0, 0, 0, 0.267246) 79.5%,
				// // 		rgba(0, 0, 0, 0.30729) 81.44%,
				// // 		rgba(0, 0, 0, 0.341035) 83.39%,
				// // 		rgba(0, 0, 0, 0.367336) 85.33%,
				// // 		rgba(0, 0, 0, 0.385796) 87.28%,
				// // 		rgba(0, 0, 0, 0.396541) 89.22%,
				// // 		rgba(0, 0, 0, 0.4) 91.17%
				// // 	);
				// // 	position: absolute;
				// // 	bottom: 0;

				// // 	@media only screen and (max-width: 600px) {
				// // 		opacity: 1;
				// // 	}

				// // 	h3 {
				// // 		font-size: 16px;
				// // 		font-weight: 400;
				// // 		white-space: nowrap;
				// // 		overflow: hidden;
				// // 		text-overflow: ellipsis;
				// // 		padding: 10px;
				// // 	}

				// // 	p {
				// // 		display: none;
				// // 		font-size: 10px;
				// // 		background-color: #00a693;
				// // 		width: 100%;
				// // 	}
				// }

				// &:hover {
				// 	// transform: scale(1.2);
				// 	z-index: 1;

				// 	div {
				// 		opacity: 1;
				// 	}
				// }
			}
		}

		.play-channel {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 50px 0 150px;
		}
	}
}
