@import "variables";

footer {
	color: rgb(83, 83, 83);
	// position: absolute;
	width: 100%;
	bottom: 0;
	// background: #171a1b;
	background: #0c0e17;

	.container-footer {
		width: 90%;
		margin: auto;
		padding-bottom: 30px;
		padding-top: 30px;
		.social {
			color: rgb(104, 104, 104);
			font-size: 28px;

			a {
				color: #fff;
				margin: {
					right: 14px;
				}
			}
		}

		.container {
			display: grid;
			// grid-template-columns: auto auto;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			font-size: 14px;

			a {
				color: #949cb0 !important;
			}
		}

		a {
			// color: rgb(83, 83, 83);
			// color: #949cb0 !important;
			text-decoration: none;
			background: transparent;

			&:hover {
				color: $primary-color;
			}
		}
	}
}
