header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	// background: rgba(0, 0, 0, 0.8);
	background: #0c0e17;

	// &:hover {
	// 	background-color: black;
	// }

	// @media only screen and (max-width: 600px) {
	// 	background-color: black;
	// }

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: auto;
		line-height: 75px;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			img {
				width: 100px;
				margin-right: 14px;
			}
		}

		.nav-links {
			display: flex;
			flex: 0.4;
			justify-content: space-around;
			align-items: center;
		}

		li {
			list-style: none;
			cursor: pointer;

			a {
				text-decoration: none;
				color: #fff;
				font-weight: 400;
				line-height: 18px;
				transition: all 100ms ease-in;
				font-size: $font-size-10;
				&:hover {
					// text-shadow: 0px 0px 10px $primary-color;
					color: #0ab39f;
				}
			}
		}

		.login {
			flex: 0.5;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 25px;
			.search-wrapper {
				// margin-right: 40px;
				button {
					padding: 0.375rem 0.75rem;
					cursor: pointer;
					border: none;
					border-radius: 0.25rem;
					background: none;
					color: #fff;
					&:hover {
						background: #1b243c;
					}
					svg {
						font-size: 16px;
					}

					span {
						width: 25px;
					}

					// &:hover {
					// 	color: #0ab39f;
					// }

					&:focus {
						outline: none;
					}
				}
			}
		}

		.burger {
			display: none;
			cursor: pointer;
		}

		/* Extra small devices (phones, 600px and down) */
		@include for-phone-only {
			// height: 10vh;
			// position: relative;
			ul {
				font-size: 18px;
				left: 100%;
				position: absolute;
				flex-direction: column;
				width: 100%;
				background: #0c0e17;
				transition: all 0.2s ease-in;
				padding: 10px;

				li {
					font-size: 16px;
					letter-spacing: 0.03rem;
					padding: 1.2rem 5%;
					line-height: 0;
				}

				.log-mobile {
					display: block !important;
				}
			}

			.profileLinks-mobile {
				display: block;
			}

			.profileLinks-d {
				display: none;
			}

			.login {
				display: none;
			}

			.search-wrapper-mobile {
				flex: 1;
				display: block;
				button {
					padding: 0.375rem 0.75rem;
					cursor: pointer;
					border: none;
					border-radius: 0.25rem;
					background: none;
					color: white;
					float: right;
					svg {
						font-size: 16px;
					}

					&:hover {
						color: #0ab39f;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.search-wrapper {
				position: absolute;
				display: none;
			}

			.open {
				left: 0;
			}

			.nav-links {
				// top: 10vh;
				top: 67px;
				height: 100vh;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0;
			}

			.login {
				top: 70vh;
				padding: 10px 0 20px 0;
				align-items: center;
			}

			.logo {
				img {
					width: 80px !important;
				}
			}

			.burger {
				display: flex !important;
				flex-direction: column;
				align-items: flex-end;

				div {
					height: 2px;
					margin-top: 3px;
					margin-bottom: 3px;
					width: 24px;
					background: white;
					-webkit-transform-origin: center right;
					-ms-transform-origin: center right;
					transform-origin: center right;
					transition: transform 0.2s ease-in-out,
						opacity 0.2s ease-in-out,
						-webkit-transform 0.2s ease-in-out;
					will-change: transform, opacity;
					-webkit-transition: opacity 0.2s ease-in-out,
						-webkit-transform 0.2s ease-in-out;
				}
			}

			.toggle {
				.line1 {
					-webkit-transform: rotate(-45deg) translateX(0.5px);
					-ms-transform: rotate(-45deg) translateX(0.5px);
					transform: rotate(-45deg) translateX(0.5px);
				}

				.line2 {
					opacity: 0;
				}

				.line3 {
					-webkit-transform: rotate(45deg) translateX(0.5px);
					-ms-transform: rotate(45deg) translateX(0.5px);
					transform: rotate(45deg) translateX(0.5px);
				}
			}
		}

		/* Small devices (portrait tablets and large phones, 600px and up) */
		@media only screen and (min-width: 600px) {
			.logo {
				img {
					width: 80px;
				}
			}

			.nav-links {
				flex: 1;
			}

			ul {
				font-size: 13px;
			}
		}

		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (min-width: 768px) {
			// background: gray;

			.logo {
				img {
					width: 100px;
				}
			}

			.nav-links {
				flex: 1;
			}

			ul {
				font-size: 15px;
			}
		}

		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 992px) {
			.nav-links {
				flex: 0.5;
			}
		}

		/* Extra large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {
			.logo {
				img {
					width: 100px;
				}
			}

			.nav-links {
				flex: 0.4;
			}

			ul {
				font-size: 16px;
			}
		}
	}
}
