@mixin profile {
	.show {
		right: 0 !important;
	}

	#profileLinks {
		line-height: 70px;
		.dropdown {
			float: left;
			// overflow: hidden;
			margin-right: 10px;
			color: white;

			a.photo {
				padding: 5px;
				border-radius: 20px;
				background-image: linear-gradient(
					$primary-color,
					$alt-secondary-color
				);
				text-shadow: 1px 1px black;
			}

			svg {
				transition: all 200ms ease-in;
			}
		}

		.dropdown-content {
			visibility: hidden;
			position: absolute;
			// background-color: #f9f9f9;
			background: #0c0e17;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			right: 115px;
			top: 80px;
			transition: all 200ms ease-in;
			opacity: 0;
			@include for-phone-only {
				width: 100%;
				right: 0;
				right: -1000px;
				// display: flex !important;
				flex-direction: column;
				align-items: center;
				top: 67px !important;
			}
		}

		.dropdown-content a {
			float: none;
			// color: black;
			color: #fff;
			// padding: 12px 16px;
			padding: 18px;
			text-decoration: none;
			display: block;
			text-align: left;
			transition: all 200ms ease-in;

			@include for-phone-only {
				padding: 2rem 5%;
				line-height: 0;
			}
		}

		.dropdown-content a:hover {
			// background-color: #ddd;
			// background: #262b40;
			text-shadow: none;
			color: #009688;
		}

		#profileLinks:hover,
		.dropdown:hover {
			svg {
				transform: rotateZ(180deg);
			}
			.dropdown-content {
				visibility: visible;
				opacity: 1;
				top: 74px;
			}
		}
	}

	.profileDiv {
		display: none;
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #000000bf;

		.form-area {
			height: inherit;
			display: flex;
			align-items: center;
			justify-content: center;

			.wrapper {
				width: 600px;
				padding: 20px;
				/* margin: 20px; */
				border: 1px solid rgb(216, 221, 230);
				border-radius: 5px;
				background-color: white;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;
				overflow: scroll;
				height: inherit;

				.header {
					display: flex;

					h1 {
						margin-bottom: 28px;
						color: rgb(84, 105, 141);
						font-size: 24px;
					}

					.clear {
						background-color: #277766;
						padding: 0px 10px;
						margin: 5px 5px 35px 14px;
						border-radius: 10px;
						color: #ffffff;
						cursor: pointer;

						&:hover {
							background-color: #33a189;
						}
					}
				}

				/* The Close Button */
				.close {
					position: relative;
					top: -60px;
					float: right;

					span {
						/*color: #aaaaaa;
						float: right;
						font-size: 28px;
						font-weight: bold;
						*/

						background-color: #009688;
						border: none;
						color: white;
						padding: 0px 5px;
						border-radius: 50%;
						height: 28px;
						width: 28px;
						cursor: pointer;
						outline: none;

						&:hover,
						&:focus {
							color: #000;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}

				#profile {
					* {
						display: block;
						width: 100%;
					}

					a {
						text-decoration: none;
						display: unset;
						width: unset;
					}

					.message {
						color: white;
						border-radius: 10px;
						padding: 3px 10px;
						margin-bottom: 20px;
						display: none;
					}

					.msg-success {
						background-color: #03dc03;
						border: green solid 2px;
					}

					.msg-error {
						background-color: #dc0303;
						border: rgb(128, 0, 0) solid 2px;
					}

					.hidden {
						display: none;
					}

					.input-wrapper {
						margin-bottom: 16px;

						.photo {
							width: 200px;
							height: 200px;
							border-radius: 100px;
							text-align: center;
							color: white;
							vertical-align: middle;
							margin: auto;
							padding: 64px 0px;
							background-image: linear-gradient(
								$primary-color,
								$alt-secondary-color
							);
							text-shadow: 3px 3px black;
							box-shadow: 1px 1px 8px black;
							overflow: hidden;
							cursor: context-menu;

							.text {
								font-size: xxx-large;
								font-weight: bold;
							}

							.text:empty {
								height: 70px;
							}

							.change {
								background-color: #00000078;
								position: relative;
								/* bottom: -24px; */
								/* width: 200px; */
								padding: 8px 17px;
								top: 70px;
								cursor: pointer;
							}

							&:hover .change {
								top: 25px;
							}
						}

						label {
							color: rgb(84, 105, 141);
							margin-bottom: 8px;
							font-size: 13px;
						}

						input {
							outline: none;
							color: rgb(84, 105, 141);
							/* margin-bottom: 16px; */
							padding: 12px;
							font-size: 0.8125rem;
							background-color: transparent;
							border: 1px solid #868686;
							border-radius: 3px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							-ms-border-radius: 3px;
							-o-border-radius: 3px;

							&:-moz-read-only {
								border: none;
							}

							&:read-only {
								border: none;
							}
						}

						.profile-button {
							color: white;
							padding: 16px 0px;
							cursor: pointer;
							background-color: $primary-color;
							border: none;
							border-radius: 3px;
							font-size: 16px;
							margin: 24px 20px 16px 20px;
							border: solid;
						}
						cancel-button {
							background-color: white;
							color: $primary-color;
						}
					}
					.button {
						display: inline-flex;
					}
				}

				.card {
					display: inline-block;
					width: 160px;
					height: 250px;
					margin: 5px;
					background-color: $alt-primary-color;
					border-radius: 5px;
					background-size: 100% 100%;
					background-repeat: no-repeat;
					position: relative;
					overflow: hidden;
					transition: all 800ms ease 0ms;
					cursor: pointer;

					&:hover {
						transform: scale(1.05);
						z-index: 1;
						box-shadow: 0px 0px 10px #737373;
					}

					&:hover > div {
						bottom: 0px;
					}

					div {
						position: absolute;
						width: 100%;
						left: 0px;
						bottom: -350px;
						transition: all 800ms ease 0ms;
						color: black;

						@include for-phone-only {
							bottom: 0;
						}

						.programChannel_num {
							font-size: 20px;
							line-height: 1;
							color: white;
							text-shadow: 0 0 20px black;
							background-color: #b1b1b194;
							padding: 5px 0;
						}

						.programTitle {
							font-size: 12px;
							background-color: #3da991f5;
							color: white;
							text-shadow: 0 0 5px black;
							padding-left: 10px;
							background-color: #205f51e0;

							padding: 10px;
							overflow: hidden;
							// white-space: pre-line;
							text-overflow: ellipsis;
							max-height: 100px;
							width: 100%;
							transition: all 800ms;
						}
					}
				}
			}
		}
	}

	// Start profile - junrel
	.profile-container {
		background: #ffffff;
		// margin-top: 80px;
		padding: 30px 0;
		padding-top: 120px;
		// min-height: 100vh;

		.profile-wrapper {
			width: 60%;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			@include for-phone-only {
				width: 90%;
			}
			.title {
				display: flex;
				align-items: baseline;
				padding-bottom: 20px;
				width: 100%;
				@include for-phone-only {
					flex-direction: column;
				}
				.logged {
					flex: 0.5;
					color: #00a693;
					font-size: 12px;
					span {
						font-weight: 600;
					}
				}
				h2 {
					padding: 0;
				}
			}
			.close {
				position: absolute;
				right: 0;
				top: -10px;
				&:hover {
					background: rgba(128, 128, 128, 0.1);
					border-radius: 5px;
				}
				svg {
					fill: #0ab39f;
				}
			}
			h2 {
				font-size: 1.375rem;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 1.75rem;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				word-break: break-word;
				word-wrap: break-word;
				color: #202124;
				padding-bottom: 20px;
				padding-left: 25px;
				@include for-phone-only {
					padding-left: 25px;
					// text-align: center;
				}
			}
			.card {
				@include for-phone-only {
					display: block;
					width: 100%;
					align-items: center;
				}
				@include for-tablet-portrait-up {
					width: 100%;
					display: block;
				}
				@include for-tablet-landscape-up {
					// width: 800px;
				}
				border: 1px solid #dadce0;
				padding-top: 25px;
				margin-bottom: 20px;
				.border-top {
					border-top: 1px solid #dadce0;
				}
				.divider {
					position: relative;
					display: flex;
					align-items: center;
					-webkit-box-align: center;
					-moz-box-align: center;
					-webkit-align-items: center;
					cursor: pointer;
					@include for-phone-only {
						height: 100px;
					}
					padding: {
						top: 15px;
						right: 0;
						bottom: 15px;
						left: 25px;
					}
					svg {
						font-size: 1em;
						cursor: pointer;
						color: gray;
					}
					.edit {
						flex: 1;
						display: flex;
						justify-content: flex-end;
						padding-right: 25px;
					}
					&:hover {
						background: #f8f8f8;
					}
					.text-desc {
						letter-spacing: 0.01428571em;
						font-family: Roboto, Arial, sans-serif;
						font-size: 0.875rem;
						font-weight: 400;
						line-height: 1.25rem;
						-webkit-hyphens: auto;
						-ms-hyphens: auto;
						hyphens: auto;
						word-break: break-word;
						word-wrap: break-word;
						color: #5f6368;
						@include for-phone-only {
							white-space: nowrap;
						}
					}

					.photo-wrapper {
						flex: 1;
						display: flex;
						justify-content: flex-end;
						padding-right: 25px;
						cursor: pointer;
						.photo {
							width: 60px;
							height: 60px;
							border-radius: 100%;
							// background: #78909c;
							background: #00a693;
							overflow: hidden;
							position: relative;
							h2 {
								font-size: 26px;
								font-weight: 400;
								padding: 0;
								padding-top: 12px;
								text-align: center;
								color: #ffffff;
							}
							.photo-icon {
								position: absolute;
								bottom: 0;
								right: 0;
								left: 0;
								height: 33%;
								background: rgba(32, 33, 36, 0.6);
								text-align: center;
								svg {
									padding-bottom: 2px;
									color: #ffffff;
								}
							}
						}
					}

					h3 {
						letter-spacing: 0.07272727em;
						font-family: Roboto, Arial, sans-serif;
						font-size: 0.6875rem;
						font-weight: 500;
						line-height: 1rem;
						text-transform: uppercase;
						-webkit-hyphens: auto;
						-ms-hyphens: auto;
						hyphens: auto;
						word-break: break-word;
						word-wrap: break-word;
						color: #5f6368;
						// width: 100%;
					}
					.text {
						flex-basis: 250px;
						letter-spacing: 0.00625em;
						font-family: Roboto, Arial, sans-serif;
						font-size: 1rem;
						font-weight: 400;
						line-height: 1.5rem;
						-webkit-hyphens: auto;
						-ms-hyphens: auto;
						hyphens: auto;
						word-break: break-word;
						word-wrap: break-word;
						color: #202124;
						text-transform: uppercase;
						@include for-phone-only {
							white-space: nowrap;
						}
						@include for-tablet-portrait-up {
							flex-basis: 150px;
							white-space: nowrap;
						}
						@include for-tablet-landscape-up {
							flex-basis: 250px;
						}
					}

					.text-mobile {
						@include for-phone-only {
							position: absolute;
							top: 20px;
						}
					}

					.pass {
						letter-spacing: 0.00625em;
						font-family: Roboto, Arial, sans-serif;
						font-size: 1rem;
						font-weight: 400;
						line-height: 1.5rem;
						-webkit-hyphens: auto;
						-ms-hyphens: auto;
						hyphens: auto;
						word-break: break-word;
						word-wrap: break-word;
						color: #202124;
						@include for-phone-only {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}

	$theme: #454cad;
	$dark-text: #5f6982;

	.uploader {
		display: block;
		clear: both;
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		margin-top: 20px;

		label {
			float: left;
			clear: both;
			width: 100%;
			padding: 2rem 1.5rem;
			text-align: center;
			background: #fff;
			// border-radius: 7px;
			border: 2px solid #eee;
			transition: all 0.2s ease;
			user-select: none;

			&:hover {
				// border-color: $theme;
				border-color: #00a69369;
			}
			&.hover {
				border: 3px solid $theme;
				box-shadow: inset 0 0 0 6px #eee;

				#start {
					i.fa {
						transform: scale(0.8);
						opacity: 0.3;
					}
				}
			}
		}

		#start {
			float: left;
			clear: both;
			width: 100%;
			&.hidden {
				display: none;
			}
			i.fa {
				font-size: 50px;
				margin-bottom: 1rem;
				transition: all 0.2s ease-in-out;
			}
		}
		#response {
			float: left;
			clear: both;
			width: 100%;
			&.hidden {
				display: none;
			}
			#messages {
				margin-bottom: 0.5rem;
			}
		}

		#file-image {
			display: inline;
			margin: 0 auto 0.5rem auto;
			width: auto;
			height: auto;
			max-width: 180px;
			&.hidden {
				display: none;
			}
		}

		#notimage {
			display: block;
			float: left;
			clear: both;
			width: 100%;
			&.hidden {
				display: none;
			}
		}

		progress,
		.progress {
			// appearance: none;
			display: inline;
			clear: both;
			margin: 0 auto;
			width: 100%;
			max-width: 180px;
			height: 8px;
			border: 0;
			border-radius: 4px;
			background-color: #eee;
			overflow: hidden;
		}

		.progress[value]::-webkit-progress-bar {
			border-radius: 4px;
			background-color: #eee;
		}

		.progress[value]::-webkit-progress-value {
			background: linear-gradient(
				to right,
				darken($theme, 8%) 0%,
				$theme 50%
			);
			border-radius: 4px;
		}
		.progress[value]::-moz-progress-bar {
			background: linear-gradient(
				to right,
				darken($theme, 8%) 0%,
				$theme 50%
			);
			border-radius: 4px;
		}

		input[type="file"] {
			display: none;
		}

		div {
			margin: 0 0 0.5rem 0;
			color: $dark-text;
		}

		.btn {
			display: inline-block !important;
		}
	}

	.btn {
		display: inline-block;
		margin: 0.5rem 0.5rem 1rem 0.5rem;
		clear: both;
		font-family: inherit;
		// font-weight: 700;
		font-size: 14px;
		text-decoration: none;
		text-transform: initial;
		border: none;
		border-radius: 0.2rem;
		outline: none;
		padding: 0 1rem;
		height: 36px;
		line-height: 36px;
		color: #fff;
		transition: all 200ms ease-in-out;
		box-sizing: border-box;
		// background: $theme;
		// border-color: $theme;
		background: #0ab39f;
		border: none;
		cursor: pointer;
	}

	.btn:disabled {
		opacity: 0.4;
	}

	.btn {
		margin: 20px 0 0;
		&:hover {
			background: #009688;
		}
	}

	.cancel {
		background: #ffffff;
		color: #202124;
		border: 1px solid #33a189;

		&:hover {
			background: #0ab39f;
			color: #fff;
		}
	}

	.frm {
		display: block;
		flex-direction: column;
		.input-wrapper {
			display: flex;
			flex-direction: column;
			padding: 20px 0 0;
			gap: 0;
			label {
				color: #54698d;
				margin-bottom: 10px;
				font-size: 13px;
				// margin-top: 20px;
			}
			.input {
				outline: none;
				color: #54698d;
				/* margin-bottom: 16px; */
				padding: 12px;
				font-size: 0.8125rem;
				background-color: transparent;
				border: 1px solid #868686;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				width: 100%;
			}
		}

		// .save {
		// 	color: #fff;
		// 	background: #009688;
		// 	margin: 20px 0 0 !important;
		// }
	}

	// end profile - junrel
}
