@mixin search-area {
	.search-container {
		margin-top: 9vh;
		width: 100%;
		// background: #000000;
		background: #131722;
		min-height: 100vh;
		.search-wrapper {
			padding-top: 100px;
			width: 90%;
			margin: auto;
			display: flex;
			flex-direction: column;
			.search-input {
				width: 100%;
				position: relative;
				input {
					width: 100%;
					padding: 1em;
					border-radius: 3px;
					outline: 0;
					// border: 1px solid #ced4da;
					border: none;
					background: #373c49;
					font-size: 16px;
					color: #ffffff;
					&::placeholder {
						color: #fafafa;
						opacity: 1; /* Firefox */
					}
					&:-ms-input-placeholder {
						/* Internet Explorer 10-11 */
						color: #fafafa;
					}

					&::-ms-input-placeholder {
						/* Microsoft Edge */
						color: #fafafa;
					}
					&:focus {
						outline: none;
						// border: 1px solid #08e7cd;
						border: 1px solid #08e7cd26;
					}
				}
				button {
					position: absolute;
					right: 25px;
					top: 18px;
					background: none;
					border: none;
					cursor: pointer;

					svg {
						color: #2a2b2c;
						font-size: 16px;
					}

					&:focus {
						outline: none;
						color: #08e7cd;
					}
				}
			}
			.title-result {
				padding-top: 20px;
			}

			h3 {
				color: white;
				font-weight: normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 14px;
			}
			.results-container {
				width: 100%;
				.results-wrapper {
					display: flex;
					flex-direction: column;
					position: relative;
					h4 {
						padding: 15px 0 15px;
						color: white;
						font-weight: normal;
					}

					.results {
						display: grid;
						grid-template-columns: repeat(
							auto-fill,
							minmax(12.6rem, 1fr)
						);
						gap: 0.79rem;
						grid-row-gap: 1.7rem;
						margin-top: 20px;
						margin-bottom: 80px;
						@include for-phone-only {
							grid-template-columns: repeat(
								auto-fill,
								minmax(40%, 0.5fr)
							);
						}
						.card {
							.thumbnail {
								height: 12.5rem;
								-webkit-transition: opacity 200ms ease-in-out;
								-moz-transition: opacity 200ms ease-in-out;
								-ms-transition: opacity 200ms ease-in-out;
								-o-transition: opacity 200ms ease-in-out;
								transition: opacity 200ms ease-in-out;
								position: relative;
								@include for-phone-only {
									height: 9.2rem;
								}
								img {
									height: 100%;
									width: 100%;
								}
								&::after {
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									z-index: 1;
									pointer-events: auto;
									content: "";
									background: transparent;
									transition: all 200ms ease;
								}
								&:hover::after {
									filter: alpha(opacity=50);
									opacity: 0.8;
									// background: #25f5f545;
									background: #00ffff30;
								}
							}
							.content {
								padding-top: 0.5rem;
								display: flex;
								flex-direction: column;
								h2 {
									font-size: 0.87422rem;
									font-weight: 500;
									letter-spacing: 0.0278rem;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
									color: #fff;
								}

								.action {
									display: flex;
									justify-content: flex-end;
									align-items: center;
									gap: 5px;
									button {
										margin-top: 2px;
										height: 30px;
										width: 30px;
										border-radius: 50%;
										border: none;
										background: #949cb038;
										display: flex;
										justify-content: center;
										align-items: center;
										cursor: pointer;
										transition: all 200ms ease;
										font-size: 10px;
										svg {
											color: #f1f1f1d6;
											// color: #0ab39f;
											// font-size: 0.52rem;
										}

										&:focus {
											outline: none;
										}

										&:hover {
											background: #eeeeee2b;
										}
									}
								}
							}
						}
						// min-height: 100%;
						// display: grid;
						// grid-template-columns: repeat(
						// 	auto-fill,
						// 	minmax(220px, 1fr)
						// );
						// grid-gap: 50px 15px;
						// margin-top: 20px;
						// margin-bottom: 80px;
						// .card {
						// 	display: flex;
						// 	flex-direction: column;
						// 	transition: all 800ms ease 0ms;
						// 	// overflow: hidden;
						// 	position: relative;
						// 	cursor: pointer;
						// 	height: 200px;
						// 	align-items: center;
						// 	background: black;
						// 	border-radius: 4px;
						// 	.tags {
						// 		position: absolute;
						// 		top: 154px;
						// 		left: 0;
						// 		color: white;
						// 		padding: 2px 7px;
						// 		border-radius: 4px;
						// 		font-size: 10px;
						// 	}
						// 	.NOW {
						// 		background: #297e6c;
						// 	}
						// 	.HOT {
						// 		background: #f3bc14;
						// 	}
						// 	.WOW {
						// 		background: #b8202c;
						// 	}
						// 	img {
						// 		height: 100%;
						// 		width: 100%;
						// 	}

						// 	&:hover > div {
						// 		opacity: 1;
						// 	}

						// 	@include card_body();
						// }
					}

					.btn-load {
						position: absolute;
						bottom: 0;
						left: 50%;
						right: 50%;
						transform: translate(-50%, -50%);
						padding: 10px 20px;
						background: transparent;
						color: white;
						font-size: 12px;
						font-weight: 600;
						border: 1px solid #313132;
						transition: border 0.4s;

						&:hover {
							border: 1px solid #86888b;
						}
					}

					.spinner {
						display: none;
						justify-content: center;
						align-items: center;
						svg {
							color: white;
							font-size: 30px;
						}
					}
				}
			}
		}
	}

	.results-read-wrapper {
		margin-top: 50px;
		width: 100%;
		background: white;
		.wrapper {
			padding: 30px 0 30px;
			width: 90%;
			margin: auto;

			.title-result {
				font-weight: normal;
			}

			.results {
				@include for-phone-only {
					display: flex;
					flex-direction: column;
				}
				h4 {
					padding: 10px 0 0 50px;
					font-weight: normal;
				}
				.card-read {
					padding: 10px 0 20px 50px;
					display: flex;
					grid-gap: 10px;
					@include for-phone-only {
						display: flex;
						flex-direction: column;
						padding: 10px 0 0 0;
					}
					.source-logo {
						height: 45px;
						width: 50px;
					}

					.details {
						flex: 1;
						color: #000000;
						h3 {
							font-weight: bold;
							font-size: 18px;
							letter-spacing: 1px;
							cursor: pointer;

							&:hover {
								color: #027b6e;
							}
						}
						span {
							font-size: 10px;
							background: #00a693;
							padding: 2px 5px 2px;
							border-radius: 3px;
							color: white;
						}
						p {
							// padding-top: 10px;
							font-size: 14px;
						}
					}
					.featured-img {
						height: 150px;
						width: 200px;
						@include for-phone-only {
							width: 100%;
						}
					}
				}
			}
			.full-read {
				display: flex;
				flex-direction: column;
				padding: 50px 0 50px;
				width: 70%;
				margin: auto;
				position: relative;
				@include for-phone-only {
					width: 100%;
				}
				.back {
					position: absolute;
					right: -22%;
					background-color: #009688;
					border: none;
					color: white;
					border-radius: 50%;
					height: 28px;
					width: 28px;
					cursor: pointer;
					outline: none;
					@include for-phone-only {
						right: 0;
					}
				}
				h3 {
					padding: 20px 0 20px;
				}
				.img-banner {
					height: 500px;
					width: 80%;
					margin: auto;
					padding-bottom: 20px;
					@include for-phone-only {
						height: 350px;
						width: 100%;
					}
					img {
						width: 100%;
						height: 100%;
					}
				}

				.btn-group {
					display: flex;
					flex-direction: column;
					align-items: center;
					svg {
						margin: 20px;
					}
					button {
						-webkit-align-items: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-webkit-justify-content: center;
						-ms-flex-pack: center;
						justify-content: center;
						font-family: Roboto, Helvetica, -apple-system,
							BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
							Arial, sans-serif, "Apple Color Emoji",
							"Segoe UI Emoji", "Segoe UI Symbol";
						background-color: rgba(0, 0, 0, 0);
						line-height: 1.75;
						outline: none;
						cursor: pointer;
						-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
						-webkit-transition: all 500ms, -webkit-transform 1ms;
						-webkit-transition: all 500ms, transform 1ms;
						transition: all 500ms, transform 1ms;
						border-radius: 6px;
						font-weight: 500;
						font-size: 16px;
						padding: 6px 30px;
						width: 270px;
						border: 1px solid #a5dad5;
						color: #00a693;
					}
				}
			}
		}
	}

	.show-search {
		margin-top: 9vh;
	}
}
