@mixin watch {
	.watch {
		color: white;
		// padding: 14px 14px 0px 14px;

		.now-wrapper {
			position: relative;
			@include btn-white-cirle();
		}

		.wrapper {
			display: block;
			overflow-x: scroll;
			white-space: nowrap;
			@include scrollStyle();
			padding-bottom: 9px;
			padding-top: 9px;
			// padding-left: 16px;
		}

		.card {
			display: inline-block;
			width: 250px;
			height: 350px;
			margin: 0px 5px;
			background-color: $alt-primary-color;
			border-radius: 5px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position: relative;
			overflow: hidden;
			transition: all 800ms ease 0ms;
			cursor: pointer;
			position: relative;

			div {
				opacity: 0;
				padding-top: 95%;
				position: absolute;
				display: flex;
				flex-direction: column;
				height: 100%;
				width: 100%;
				transition: opacity 300ms ease;
				background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(62%, transparent),
					color-stop(63.94%, rgba(0, 0, 0, 0.00345888)),
					color-stop(65.89%, rgba(0, 0, 0, 0.014204)),
					color-stop(67.83%, rgba(0, 0, 0, 0.0326639)),
					color-stop(69.78%, rgba(0, 0, 0, 0.0589645)),
					color-stop(71.72%, rgba(0, 0, 0, 0.0927099)),
					color-stop(73.67%, rgba(0, 0, 0, 0.132754)),
					color-stop(75.61%, rgba(0, 0, 0, 0.177076)),
					color-stop(77.56%, rgba(0, 0, 0, 0.222924)),
					color-stop(79.5%, rgba(0, 0, 0, 0.267246)),
					color-stop(81.44%, rgba(0, 0, 0, 0.30729)),
					color-stop(83.39%, rgba(0, 0, 0, 0.341035)),
					color-stop(85.33%, rgba(0, 0, 0, 0.367336)),
					color-stop(87.28%, rgba(0, 0, 0, 0.385796)),
					color-stop(89.22%, rgba(0, 0, 0, 0.396541)),
					color-stop(91.17%, rgba(0, 0, 0, 0.4))
				);
				background: linear-gradient(
					180deg,
					transparent 62%,
					rgba(0, 0, 0, 0.00345888) 63.94%,
					rgba(0, 0, 0, 0.014204) 65.89%,
					rgba(0, 0, 0, 0.0326639) 67.83%,
					rgba(0, 0, 0, 0.0589645) 69.78%,
					rgba(0, 0, 0, 0.0927099) 71.72%,
					rgba(0, 0, 0, 0.132754) 73.67%,
					rgba(0, 0, 0, 0.177076) 75.61%,
					rgba(0, 0, 0, 0.222924) 77.56%,
					rgba(0, 0, 0, 0.267246) 79.5%,
					rgba(0, 0, 0, 0.30729) 81.44%,
					rgba(0, 0, 0, 0.341035) 83.39%,
					rgba(0, 0, 0, 0.367336) 85.33%,
					rgba(0, 0, 0, 0.385796) 87.28%,
					rgba(0, 0, 0, 0.396541) 89.22%,
					rgba(0, 0, 0, 0.4) 91.17%
				);
				@include for-phone-only {
					opacity: 1;
				}
				&:hover {
					opacity: 1;
				}
				.programChannel_num {
					font-size: 74px;
					line-height: 1;
					color: white;
				}
				.programTitle {
					font-size: 25px;
					background-color: #3da991f5;
					color: white;
					padding-left: 10px;
				}
			}
			// &:hover {
			// 	transform: scale(1.05);
			// 	z-index: 1;
			// 	box-shadow: 0px 0px 10px #737373;
			// }

			// &:hover > div {
			// 	bottom: 0px;
			// }

			// div {
			// 	position: absolute;
			// 	width: 100%;
			// 	left: 0px;
			// 	bottom: -350px;
			// 	transition: all 800ms ease 0ms;
			// 	color: black;

			// 	@include for-phone-only {
			// 		bottom: 0;
			// 	}

			// 	.programChannel_num {
			// 		font-size: 74px;
			// 		line-height: 1;
			// 		color: white;
			// 		text-shadow: 0 0 20px black;
			// 	}

			// 	.programTitle {
			// 		font-size: 25px;
			// 		background-color: #3da991f5;
			// 		color: white;
			// 		text-shadow: 0 0 5px black;
			// 		padding-left: 10px;
			// 	}
			// }
		}
	}
}
