@use 'global';

main {
	display: grid;
	grid-template-columns: 600px auto;
	height: 100%;
	background-image: url("../images/Watch NOWNa BG Image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 100vh;

	section {
		max-height: 100%;
	}
}

.login-section {
	display: flex;
	flex-direction: column;
	padding: 50px;

	.logo-area {
		display: flex;
		align-items: center;

		img {
			height: 72px;
		}

		p {
			color: white;
			font-size: 32px;
			margin-left: 10px;
		}
	}

	.form-area {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;

		.wrapper {
			width: 365px;
			padding: 20px;
			/* margin: 20px; */
			border: 1px solid rgb(216, 221, 230);
			border-radius: 5px;
			background-color: white;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;

			h1 {
				margin-bottom: 28px;
				color: rgb(84, 105, 141);
				font-size: 24px;
			}

			.loginForm {
				* {
					display: block;
					width: 100%;
				}

				a {
					text-decoration: none;
					display: unset;
					width: unset;
				}

				.input-wrapper {
					margin-bottom: 16px;
					padding: 0;

					label {
						color: rgb(84, 105, 141);
						margin-bottom: 8px;
						font-size: 13px;
					}

					input {
						outline: none;
						color: rgb(84, 105, 141);
						/* margin-bottom: 16px; */
						padding: 12px;
						font-size: 0.8125rem;
						background-color: transparent;
						border: 1px solid #868686;
						border-radius: 3px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						-ms-border-radius: 3px;
						-o-border-radius: 3px;
					}

					.login-button {
						color: white;
						margin-top: 24px;
						margin-bottom: 16px;
						padding: 16px 0px;
						cursor: pointer;
						background-color: #00a693;
						border: none;
						border-radius: 3px;
						font-size: 16px;
					}
				}
			}
		}
	}

	.copyright-area {
		height: 72px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		p {
			color: white;
			font-weight: 200;
		}
	}
}

.image-section {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	.devices {
		margin: 0px 50px 50px 0px;

		img {
			height: 30px;
			width: 30px;
		}
	}
}
