
#preferences .videoCat h1 {
	color: #000;
}
#preferences .videoCat ul {
  list-style-type: none;
}

#preferences .videoCat li {
  display: inline-block;
}

#preferences p {
	text-align: center;
	color: #000;
}

#preferences .news label {
	color: #000;
}


	#preferences .videoCat input[type="checkbox"] {
	  	display: none;
	}
	#preferences .videoCat label {
		border: 1px solid #fff;
		padding: 10px;
		display: block;
		position: relative;
		margin: 10px;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#preferences .videoCat label::before {
		background-color: white;
		color: white;
		content: " ";
		display: block;
		border-radius: 50%;
		border: 1px solid grey;
		position: absolute;
		top: 5px;
		left: 5px;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 28px;
		transition-duration: 0.4s;
		transform: scale(0);
	}
	#preferences .videoCat label img {
	  	height: 100px;
	  	width: 100px;
	  	transition-duration: 0.2s;
	  	transform-origin: 50% 50%;
	}

#preferences .videoCat :checked+label {
		border-color: #ddd;
}

#preferences .videoCat :checked+label::before {
	content: "✓";
	background-color: #8ec300;
	transform: scale(1);
    z-index: 990;
}

#preferences .videoCat :checked+label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #333;
	z-index: -1;
}